:root {
	--project-red-dark: #a70000;
	--project-red: #ff0000;

	--fb-bg-white: #f0f2f5;
	--fb-logo-blue: #0866ff;
	--fb-font-blue: #4866ff;
	--fb-button-blue: #263f74;
	--fb-font-shadow: #70caff;
	--fb-placeholder-gray: #90949c;
	--fb-newAccount-button: #42b72a;

	--ig-button-blue: #4cb5f9;
	--ig-singup-blue: #4295f6;
	--ig-fb-login-blue: #385185;
	--ig-forgot--text: #003768;
	--ig-placeholder-gray: #737373;

	--ig-bg-blue: #405de6;
	--ig-bg-dark-pink: #c13584;
	--ig-bg-red: #fd1d1d;
	--ig-bg-purple: #833ab4;
	--ig-bg-purple-red: #e1306c;
	--ig-bg-yellow: #fcaf45;
	--ig-bg-orange: #f77737;
	--ig-bg-light-yellow: #ffdc80;

	--threads-input-gray: #1e1e1e;
	--threads-placeholder-text: #777777;
}

* {
	padding: 0;
	margin: 0;
}

.container {
	box-sizing: border-box;
	display: flex;
	height: auto;
}

html {
	display: flex;
	justify-content: center;
	padding: 8px;
	background-color: #000;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	width: 90vw;
	height: fit-content;
	row-gap: 30px;
	padding: 10px;
}

a {
	text-decoration: none;
}

.exit-btn {
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 60px;
	background-color: #000;
	border-radius: 8px;
	box-shadow: 2px 2px 8px 2px var(--project-red-dark);
}

.social-btn {
	width: 180px;
	height: 50px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	gap: 20px;
	color: #ffff;
	font-size: 25px;
	font-weight: 700;
	box-shadow: 1px 2px 5px 2px var(--threads-input-gray);
}

.social-btn img {
	width: 30px;
	height: 30px;
}

h1 {
	color: #000;
	filter: drop-shadow(3px 1px 2px var(--project-red));
	font-size: 60px;
	font-family: 'tasty';
	font-family: 'Playwrite AT', cursive;
}
h2 {
	color: #ffff;
	font-size: 50px;
}

/* Project Landing Page Styles */
.main-header {
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.profile-pic-container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 2px 2px 8px 2px var(--project-red-dark);
}

.profile-pic-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.title-container {
	justify-content: space-evenly;
	align-items: center;
	width: 700px;
}

.button-container {
	width: auto;
	justify-content: center;
	align-items: center;
	height: auto;
}

.exit-btn i {
	color: #000;
	filter: drop-shadow(2px 1px 1px var(--project-red));
	font-size: 20px;
}

.social-containers {
	flex-direction: column;
	width: 50%;
	justify-content: center;
	align-items: center;
	height: auto;
	row-gap: 60px;
	padding: 15px 0;
}

.fb-container {
	background-image: linear-gradient(
		to right,
		var(--fb-logo-blue),
		var(--fb-font-shadow),
		var(--fb-logo-blue)
	);

	box-shadow: 2px 2px 10px 5px var(--fb-font-shadow);
}

.ig-container {
	background-image: linear-gradient(
		to right,
		var(--ig-bg-blue),
		var(--ig-bg-dark-pink),
		var(--ig-bg-red),
		var(--ig-bg-purple),
		var(--ig-bg-purple-red),
		var(--ig-bg-yellow),
		var(--ig-bg-orange),
		var(--ig-bg-light-yellow)
	);

	box-shadow: 2px 2px 10px 5px var(--ig-bg-purple-red);
}

.threads-container {
	background-image: linear-gradient(
		to right,
		var(--threads-input-gray),
		var(--threads-placeholder-text),
		#000
	);

	box-shadow: 2px 2px 10px 5px var(--threads-placeholder-text);
}

.banner-container {
	width: 100%;
	justify-content: center;
	height: 30%;
	align-items: center;
}

.ig-banner h2 {
	font-family: cursive;
	font-weight: 400;
}

.social-button-container {
	width: 100%;
	justify-content: center;
	height: 60%;
}

.fb-btn {
	background-color: var(--fb-button-blue);
}

.ig-btn {
	background-color: var(--ig-bg-purple);
}

.threads-btn {
	background: var(--threads-placeholder-text);
}
