/* ?? Facebook Styles */
.body-facebook {
	background-color: var(--fb-bg-white);
	justify-content: center;
	align-items: center;
	padding: 0;
}

.body-facebook .main-header {
	background: radial-gradient(var(--fb-bg-white), var(--fb-button-blue));
	justify-content: space-around;
	padding: 10px 0;
}

.body-facebook .links-container a:hover {
	transform: scale(1.09);
}

.body-facebook .profile-pic-container {
	box-shadow: none;
}

.body-facebook .fa-house,
.body-facebook .fa-person-running {
	color: var(--project-red-dark);
}

.body-facebook p {
	color: var(--fb-logo-blue);
	font-size: 3rem;
	font-weight: 700;
}

.body-facebook .fb-login-container {
	width: 100%;
	height: 300px;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.fb-login-form {
	width: 320px;
	height: 320px;
	outline: 1px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 5px 1px lightgrey;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
	background-color: var(--white);
}

.fb-login-form p {
	color: #000;
	font-size: 1.2rem;
	font-weight: 300;
}

.fb-login-form input {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	border-radius: 8px;
	border: 0.1px solid var(--fb-placeholder-gray);
}

.fb-login-form input::placeholder {
	color: var(--fb-placeholder-gray);
	font-size: 1.1em;
	font-weight: 520;
	padding-left: 15px;
}

.fb-login-form .fb-login-btn {
	width: 100%;
	height: 50px;
	background-color: var(--fb-logo-blue);
	color: var(--white);
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 550;
	border-radius: 8px;
	border: none;
	margin: 10px 0;
}

.fb-login-form .fb-forgot-text {
	color: var(--fb-font-blue);
	margin-bottom: 10px;
}
.hr-text {
	line-height: 1.5em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 1;
	&:before {
		content: '';
		background: linear-gradient(to right, transparent, #818078, transparent);
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 1px;
	}
	&:after {
		content: attr(data-content);
		position: relative;
		display: inline-block;
		color: black;

		padding: 0 0.5em;
		line-height: 1.5em;
		color: #818078;
		background-color: var(--white);
	}
}

.fb-login-form .fb-create-new-btn {
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	/*justify-self: center;*/
	width: 60%;
	height: 50px;
	border-radius: 8px;
	border: none;
	background-color: var(--fb-newAccount-button);
	color: var(--white);
	margin-left: 20%;
	font-weight: 600;
	font-size: 1rem;
}
.body-facebook footer {
	background-color: #000;
}

/* ?? Instagram Styles */

.body-instagram {
	background-color: var(--white);
	padding: 0;
}

.body-instagram .main-header {
	background: radial-gradient(
		var(--ig-bg-light-yellow),
		var(--ig-bg-orange),
		var(--ig-bg-dark-pink),
		var(--ig-bg-blue)
	);
	margin-bottom: 30px;
}

.body-instagram .ig-form-container {
	width: 100%;
	justify-content: center;
	align-items: center;
	height: fit-content;
	margin: -50px 0;
}

.ig-form-container .ig-form {
	width: 400px;
	height: 500px;
	flex-direction: column;
	outline: 1px solid yellow;
	margin: 10px 0;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
}

.ig-form p {
	font-size: 60px;
	font-family: 'Balibong', sans-serif;
	font-weight: 600;
	margin-bottom: 40px;
}

.ig-form input {
	width: 100%;
	height: 50px;
	border-color: var(--ig-placeholder-bg);
	background-color: var(--ig-placeholder-bg);
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.ig-form input::placeholder {
	color: var(--ig-placeholder-text);
}

.ig-form .ig-login-btn {
	width: 100%;
	place-content: center;
	align-items: center;
	height: 40px;
	border-radius: 10px;
	border: none;
	background-color: var(--ig-button-blue);
	color: var(--white);
	font-weight: 600;
	font-size: 1rem;
}

.ig-form .hr-container {
	width: 90%;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.ig-fb-login-container {
	justify-content: center;
	align-content: center;
	height: 30px;
	align-items: center;
	column-gap: 12px;
}

.ig-fb-login-container .fa-facebook-square {
	font-size: 1.5em;
	color: var(--fb-button-blue);
}

.ig-fb-login-container p,
.ig-forgot-text p {
	font-size: 0.9em;
	color: var(--ig-fb-login-blue);
	font-family: Arial, Helvetica, sans-serif;
}

.ig-forgot-text {
	justify-content: center;
	align-items: center;
}

.ig-forgot-text p {
	font-size: 0.7em;
}

.body-instagram footer {
	background-color: #000;
}
