@media (max-width: 700px) {
	.body-facebook .main-header,
	.fb-login-container,
	.body-facebook footer,
	.body-instagram .main-header,
	.ig-form-container,
	.body-instagram footer {
		display: none;
	}

	html,
	.body-facebook {
		background-color: white;
		height: fit-content;
	}

	.body-facebook {
		padding-bottom: 30px;
	}

	.mobile-section {
		width: 90vw;
		height: auto;
		height: 200px;
		flex-direction: column;
		padding: 20px;
		display: flex;
	}

	.mobile-logo-container {
		width: 100%;
		justify-content: center;
		align-items: center;
		height: fit-content;
		margin-bottom: 35px;
	}

	.mobile-logo-container img {
		border-radius: 50%;
	}

	.mobile-logo-container .instagram-logo-mobile {
		height: 60px;
	}

	.mobile-image-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: fit-content;
		margin-bottom: 20px;
	}

	.mobile-image-container img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border: 3px solid var(--white);
		box-shadow: 2px 2px 20px 2px #0000007d;
	}

	.mobile-name-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: fit-content;
		font-size: 1.8rem;
		text-align: center;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: 600;
		margin-bottom: 50px;
	}

	.mobile-signin-btn-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: fit-content;
		margin-bottom: 20px;
	}

	.mobile-signin-btn-container .sign-btn {
		width: 100%;
		height: 60px;
		color: var(--white);
		background-color: var(--fb-logo-blue);
		border-radius: 20px;
		border: none;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.mobile-logine-another-account-container {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 20px;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-bottom: 180px;
	}

	.mobile-create-new-account-container {
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.create-new-account-btn {
		width: 100%;
		height: 60px;
		border: 3px solid var(--fb-logo-blue);
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		color: var(--fb-logo-blue);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 1.2rem;
		background-color: transparent;
		padding: 8px;
	}
}
